<html>
  <body>
    <h1>Hall of fame</h1>

    <h1> Dijkstra's leaderboard </h1>
    <table border="1px solid black">
      <tr>
        <th>Submission</th>
        <th>Dijkstra</th>
        <th>Bellman-Ford</th>
        <th>Floyd-Marshall</th>
      </tr>
      {% for famer, scores in dij%}
      <tr>
        <td> {{famer}} </td>
        <td><b> {{scores['dij']}} </b></td>
        <td> {{scores['bel']}} </td>
        <td> {{scores['flo']}} </td>
      </tr>
      {% endfor %}
    </table>

    <h1> Bellman Ford's leaderboard </h1>
    <table border="1px solid black">
      <tr>
        <th>Submission</th>
        <th>Dijkstra</th>
        <th>Bellman-Ford</th>
        <th>Floyd-Marshall</th>
      </tr>
      {% for famer, scores in bel%}
      <tr>
        <td> {{famer}} </td>
        <td> {{scores['dij']}} </td>
        <td><b> {{scores['bel']}} </b></td>
        <td> {{scores['flo']}} </td>
      </tr>
      {% endfor %}
    </table>

    <h1> Floyd Warshall's leaderboard </h1>
    <table border="1px solid black">
      <tr>
        <th>Submission</th>
        <th>Dijkstra</th>
        <th>Bellman-Ford</th>
        <th>Floyd-Marshall</th>
      </tr>
      {% for famer, scores in flo%}
      <tr>
        <td> {{famer}} </td>
        <td> {{scores['dij']}} </td>
        <td> {{scores['bel']}} </td>
        <td> <b>{{scores['flo']}} </b></td>
      </tr>
      {% endfor %}
    </table>
  </body>

</html>
